#blog h3, h4{
  text-align: center;
}

#blog .contenedor{
  display: flex;
justify-content: center;
flex-wrap: wrap;
}

#blog article{
  margin: 15px;
}


#blog h2{
  font-size: 30px;
  font-weight: bolder;
  font-weight: bold;
color: rgb(8, 8, 8);
}

#blog h4{
  font-size: 20px;
  font-weight:bolder;
  color: rgb(15, 15, 15);
}
